cffi==1.14.5
aiohttp==3.7.4.post0
aiohttp_cors==0.7.0
argcomplete==1.12.3
argon2pure==1.3
async_exit_stack==1.0.1
async_generator==1.10
Babel==2.9.1
bcryptor==1.2.2
Beaker==1.11.0
brotli==1.0.9
cdecimal==2.3
colorama==0.4.4
contextvars==2.4
cx_Oracle==8.1.0
cython==0.29.23
Cython==0.29.23
email_validator==1.1.2
fastpbkdf2==0.2
functools32==3.2.3-2
glob2==0.7
graphene==2.1.8
gunicorn==20.1.0
httptools==0.2.0
hypothesis==6.10.1
importlib_metadata==4.0.1
importlib_resources==5.1.2
ipaddr==2.2.0
ipython==7.23.0
itsdangerous==1.1.0
js2py==0.71
jsonpointer==2.1
lingua==4.14
lxml==4.6.3
mx==3.2
numpy==1.20.2
ordereddict==1.1
orjson==3.5.2
outcome==1.1.0
PasteScript==3.2.1
pathlib2==2.3.5
pgdb==0.0.8
pip_api==0.0.20
psutil==5.8.0
pycryptodome==3.10.1
pydot==1.4.2
Pygments==2.9.0
PyInstaller==4.3
pylama==7.7.1
pylibmc==1.6.1
pyperf==2.2.0
pysqlcipher3==1.0.4
pysqlite==2.8.3
pytest_xdist==2.2.1
python_memcached==1.59
pytype==2021.4.26
requirementslib==1.5.16
rfc3339_validator==0.1.3
rfc3986_validator==0.1.1
rfc3987==1.3.8
secrets==1.0.2
sqlcipher3==0.4.5
strict_rfc3339==0.7
subprocess32==3.5.4
Sybase==0.35
testpath==0.4.4
testsuite==0.1.1
Twisted==21.2.0
ujson==4.0.2
unittest2==1.1.0
uritemplate==3.0.1
watchgod==0.7
webcolors==1.11.1
wincertstore==0.2
wsproto==1.0.0
zipp==3.4.1
zope==5.1.2
